
		p {
			color: rgb(56,147,155);

		}
		
		h1 {
			color: rgb(52, 113, 91);
			padding: 0px;
			margin:0px;
		}

		#title {
			text-align: center;
		}

		a {
			color: rgb(142,216,248);
		}

		ul {
			color: rgb(52,147,91);
		}

		ul.menu {
			padding: 40px;
			margin: 0px;
		}

		li.menu {
			height: 30px;
			width: 150px;
		}

		li.menu:hover {
			background: rgb(86,160,211);
		}

		span.Scripps {
			font-size: 20px;
		}

		@media only screen and (max-width: 2500px) {
 			body {
   			background-color: rgb(138,141,143);
 				 }
		}

		div.links {
			background: rgb(56,147,155);
		}

		div.menu {
			float: left;
			
		}

		div.image {
			text-align: center;
		}
